body {
    font-family: 'Varela Round', monospace;
}

.srch-btn {
  margin: 4px;
}

.heading {
  color: white;
}

.city-input {
  margin-left: 4px;
}

.li-custom {
  margin: 10px;
  text-align: center;
  font-weight: bold;
  width: fit-content;
}


h1 {
  text-align: center;
  background-color: #2589bd;
}
h6 {
  padding: 10px;
}

.uvi-low {
  background-color: green;
}
.uvi-mod {
  background-color: yellow;
}
.uvi-hi {
  background-color: orange;
}
.uvi-vhi {
  background-color: red;
}
.uvi-ext {
  background-color: purple;
}


main {
  display: flex;
}

.content {
  width: 55%;
  display: inline-block;
  margin-left: 20px;
}

input {
  flex-wrap: wrap;
  width: fit-content;
}

.benefits {
  margin: 10px;
  padding: 10px;
  clear: both;
  float: right;
  width: fit-content;
  height: 20%;
  background-color: #2589bd;
}

.custom {
  max-width: 18%;
  max-height: 60%;
  flex-direction: row;
  background-color: #2589bd;
  margin: 1px;
  padding: 4px;
  text-align: center;
  border-radius: 8px;
}

h6 {
  font-weight: bold;
}

div {
  width: fit-content;
}

section div {
  float: left;
  display: inline;
}

#current-forecast {
  background-color: #2589bd;
  width: fit-content;
  margin: 1px;
  padding: 20px;
  font-weight: bold;
  border-radius: 6px;
  text-align: center;
  list-style: none;
  word-spacing: 2px;
}